

.leaflet-pm-toolbar .leaflet-buttons-control-button {
  padding: 5px;
  box-sizing: border-box;
  position: relative;
  z-index: 3;
}

.leaflet-pm-toolbar a:first-child {
  border-radius: 0;
}

.leaflet-pm-toolbar .button-container:first-child a {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.leaflet-pm-toolbar .button-container:last-child a {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.leaflet-pm-toolbar .control-fa-icon {
  font-size: 19px;
  line-height: 24px;
}

.leaflet-pm-toolbar .control-icon {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.leaflet-pm-toolbar .leaflet-pm-icon-square-marker {
  background-image: url('../assets/icons/Square.svg');
}
.leaflet-pm-toolbar .leaflet-pm-icon-triangle-marker {
  background-image: url('../assets/icons/Triangle.svg');
}
.leaflet-pm-toolbar .leaflet-pm-icon-marker {
  background-image: url('../assets/icons/Marker.svg');
}
.leaflet-pm-toolbar .leaflet-pm-icon-polygon {
  background-image: url('../assets/icons/Polygon.svg');
}
.leaflet-pm-toolbar .leaflet-pm-icon-polyline {
  background-image: url('../assets/icons/Line.svg');
}
.leaflet-pm-toolbar .leaflet-pm-icon-circle {
  background-image: url('../assets/icons/Circle.svg');
}
.leaflet-pm-toolbar .leaflet-pm-icon-circle-marker {
  background-image: url('../assets/icons/CircleMarker.svg');
}
.leaflet-pm-toolbar .leaflet-pm-icon-rectangle {
  background-image: url('../assets/icons/Rectangle.svg');
}
.leaflet-pm-toolbar .leaflet-pm-icon-delete {
  background-image: url('../assets/icons/Eraser.svg');
}
.leaflet-pm-toolbar .leaflet-pm-icon-edit {
  background-image: url('../assets/icons/Edit_Vertex.svg');
}
.leaflet-pm-toolbar .leaflet-pm-icon-drag {
  background-image: url('../assets/icons/Move.svg');
}
.leaflet-pm-toolbar .leaflet-pm-icon-cut {
  background-image: url('../assets/icons/Scissors.svg');
}
.leaflet-pm-toolbar .leaflet-pm-icon-snapping {
  background-image: url('../assets/icons/Magnet.svg');
}

.leaflet-buttons-control-button:hover {
  cursor: pointer;
  background-color: #f4f4f4;
}
.active .leaflet-buttons-control-button {
  box-shadow: inset 0 -1px 5px 2px rgba(81, 77, 77, 0.31);
}

.leaflet-buttons-control-text-hide {
  display: none;
}

.button-container {
  position: relative;
}

.button-container .leaflet-pm-actions-container {
  z-index: 2;
  position: absolute;
  top: 0;
  left: 100%;
  display: none;
  white-space: nowrap;
}

.leaflet-right
  .leaflet-pm-toolbar
  .button-container
  .leaflet-pm-actions-container {
  right: 31px;
  left: auto;
}

.button-container.active .leaflet-pm-actions-container {
  display: block;
}

.button-container .leaflet-pm-actions-container .leaflet-pm-action:last-child {
  border-radius: 0px 3px 3px 0px;
  border-right: 0px;
}
.button-container .leaflet-pm-actions-container .leaflet-pm-action {
  padding: 0px 10px;
  background-color: #666;
  color: #fff;
  display: inline-block;
  width: auto;
  border-right: 1px solid #eee;
  user-select: none;
}

.button-container .leaflet-pm-actions-container .leaflet-pm-action:hover {
  cursor: pointer;
  background-color: #777;
}
